<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732522451988-ajeofdt05l22vu6bukvfjth0a16g7reo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732522451988-ajeofdt05l22vu6bukvfjth0a16g7reo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732522451988-sddfgqm63nc3urtvh5a4n4pptdi22udb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtFzWbAaCaRTsMVAph20k8gYlACQG_Chc</string>
	<key>GCM_SENDER_ID</key>
	<string>732522451988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>patagonia.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>testproject-e7dea</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-e7dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732522451988:ios:e7cea140b5613ac2eb0301</string>
	<key>DATABASE_URL</key>
	<string>https://testproject-e7dea.firebaseio.com</string>
</dict>
</plist>